extends base

block emailContent
  p Hi #{username}
  p Your order products has successfully been purchased on our Gaming Store
  p Enjoy your visit on our page and contact support if you need anything
  p Good luck! Hope it works.

  table.body(role='presentation' cellspacing='0' cellpadding='0' border='0')
    tbody
      tr
        th Product
        th Quantity
        th Price 
      each productInOrder in productsInOrder
        tr 
          td.align-center #{productInOrder.product.name}
          td.align-center #{productInOrder.quantity}
          td.align-center #{productInOrder.price}
      tr
        td.align-right.font-bold.total(colspan="2") Total
        td.align-center.font-bold.total-price #{totalPrice}